img{
            
    width:1572px;
    height:370px;
}
.div1{
    margin:auto;
    font-family:stencil;
}
.div2
{
    text-align:center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-bottom: 100px;
  
}
.row{
    text-align:center;
    
}