{% extends 'base.html'%}
{% load static %}
{% block content %}
<link href="{%static 'css/aboutstyle.css'%}" rel="stylesheet">



        <div class="background">
            <div id="p1">
                <h1 style="text-align:center;color:black;font-family:stencil;">SERVICE WITHOUT <br>BOUNDARIES...</h1>
            </div>
        </div>
<div class="row">
        <div class="col">
            <h1 style="text-align:center;color:black;font-family:stencil;">Our Vision</h1>
            <p>Proclaim the glory of God through quality based compassinate healthcare services,bearing witness to CHRIST.</p>
        </div>
        <div class="col">
            <img src="{%static 'images/hos5.jpeg'%}">
        </div>
    </div>
   <br>
   <br>
    <div class="row">
        <div class="col">
            <h1 style="text-align:center;color:black;font-family:stencil;">Our Mission</h1>
            <p>Proclamation of the good news that life – a gift from GOD is worth living, through holistic care to the physically, mentally or spiritually wounded people. Founding all our health care services on Christian values and rendering the same to all people irrespective of religion, caste or community with a preferential option for the downtrodden and underprivileged. Contribute to the better quality of healthcare system in the society by training nurses with knowledge, skills and values.</p>
        </div>
        <div class="col">
            <img src="{%static 'images/imgHos1.jpg'%}">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h1 style="text-align:center;color:black;font-family:stencil;">Quality Policy</h1>
            <p>Nirmala Medical Centre is committed to provide high quality and affordable health care through well defined quality systems and efficient professionals and will actively pursue ever improving quality through periodic training.</p>
        </div>
        <div class="col">
            <img src="{%static 'images/imgHos2.jpg'%}">
        </div>
    </div>
{% endblock %}

